.body{

    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(../images/tea2.jpg);//父目录，css下找images下
    background-size: cover;
    -webkit-filter: blur(5px);//模糊图片背景
    z-index: 0;
}
.login_page{
    width:100%;


}
#header{
    background-color: inherit;
    width:100%;
    height:50px;
    -webkit-filter: blur(0.1px);
    z-index: 2;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#header img{
    width:50px;
    height:50px;
    border-radius: 25px;

}

#header h5{
    width:100px;
    height:45px;
    color: #fff;
    float:right;
    margin-right: 10px;
    z-index: 1;
}

.content_head  {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
    z-index: 2;

    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 25px;
    font-weight: 200;
}



.content_head span{

    color: #ffa43c !important;
}
.login-form{
   /* height:40%;
    width:60%;
    background-color: aquamarine;
    position: relative;
    z-index: 1;
    padding:200px;
    margin-left:40%;
    margin-right: 50px;*/
    position: absolute;//随窗口变动大小不变
    z-index: 2;
   //*background:#fffee4;*/
    border-radius: 20px;
    margin-top: 150px;
    margin-left:60%;
    margin-right: 100px;
    padding: 80px;
    text-align: left;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-form span{
    color: #fff;
    font-size: larger;
    font-family: Consolas;
}
.login-form input{
    width:100%;
    margin:0 0 20px;
    background: transparent;
    padding:8px;
    font-family: 'Exo', sans-serif;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.6);
    color: #fff;
}

.login-form button{
    width:80%;
    height:35px;
    background-color:#fff;
    margin-left: 23px;
    border-radius: 10px;
    border:1px;
}
#aa{
    font-size: small;
    width: 60px;
    font-family: Consolas;
    color: #fff;
}
