body{
    background: -webkit-linear-gradient(white,#BEE3E9);
    background: -o-linear-gradient(white,#BEE3E9);
    background: linear-gradient(white,#BEE3E9);
}

/*导航条*/

/*#nav_right a{*/
    /*color:#000;*/
/*}*/

/*#nav_right ul li a{*/
    /*display: inline-block;*/
    /*padding: 6px;*/
    /*margin-top:10px;*/
/*}*/
/*#nav_right .nav_border {*/
    /*height: 30px;*/
    /*border-radius: 8px 8px ;*/
    /*margin: 10px;*/
/*}*/
/*#nav_right .nav_border a{*/
     /*margin-top:-2px;*/
/*}*/
/*导航条*/
@media (min-width: 768px) {
    .navbar-toggle {
        display: none !important;
    }

}
@media (max-width: 1024px) {
    .inline_block {
        display: none !important;
    }
}

.block{
    display: block !important;
}
/*MY EMBRAC*/

#Embrace{
    margin-top:60px;
}

/*Production */

#Production{
    margin-top:20px;
}
.Production_img1{

    height: 300px;
    margin: 0;
    padding: 0 !important;
    margin-top:10px;
    color: white;
    position: relative;
}
.Production_img1::before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.3);
}
.Production_img1 .Production_all{
    width: 60%;
    height: 60%;
    position: absolute;
    left:25%;
    top:20%;
    border:2px solid #fff;
    margin: 0 auto;
}
.Production_img1 .Production_font2 {
   text-align: center;
}
.Production_img1 .Production_font2 h2{
    margin-top:60px;
}

/*Hacking*/

#Hacking{
    margin-top:20px;
}
.Hacking_right .list-group{
    float: left !important;
    margin-top:60px;
}
.Hacking_right .list-group-item{
    height: 130px;
    margin-top: 20px;
}

/*My China*/

#China{
    margin-top:20px;
}
.China_img{
    border:1px solid red;
    height: 500px;
    background: url("../images/banner.jpg") no-repeat;
    background-size: cover;

}
.China_img span{
    float:right;
    margin-right: 10%;
    margin-top:14%;
    text-align: left;
    display: block;
    font-size: 18px;
    width: 300px;
    height: 200px;
    color:white;
}
.China_img span p{
    margin-top: 50px;
}
/*My US*/
#US{
    margin-top:20px;
}
#US .list-group-item{
    height:180px;

    margin-top: 40px;
    position: relative;

}
#US .list-group-item span{
    width:60%;
    height: 70%;
    position: absolute;
    top:20%;
    left:20%;
    /*word-break:break-all;*/
    /*line-height: 180px;*/
    word-wrap:break-word;
    overflow: auto;
}
.navbar-inverse{
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
    margin-top:20px;
    margin-bottom: 40px;

    color:#fff;
    padding: 0;

}
/*Footer*/
footer{
    margin-top: 20px;
    background: black;
    color:#fff;
}
.footer_left{
   /* margin-left: 20px;*/
    margin-bottom: 8px;
}
.footer_right{
    margin-top:20px;
    display: inline;

}
.footer_right p{
    display: inline-block;

}



@media (max-width:768px){
#nav_right {
  margin-right:250px;
    }
    .row .Production_img1{
            border-top: 0px;
    }
    .Production_img1 .Production_font2{
        margin-top:0px;
    }
    .list-group{
        margin-top:-20px;
        overflow: hidden;
    }
   .list-group-item{

    line-height: 100px;
   }
   #US .list-group-item{
    line-height: 30px;
   }

}
@media (min-width: 992px) {
    #US .list-group-item{
        margin:30px 0 15px 12.5% ;
    }
    .item_1{
        margin-left:0 !important;
    }
}


